    <div ng-controller='GenderbreadController'>
      
  </head>

    <div class="container">

      <div id="header">
          <ul id="links">
            <li><a href="/">Home</a></li>
            <li><a href="/">Quizzes</a></li>
          </ul>
      </div>

      <div class="body">
        <h1>Genderbread Person</h1>
        <div class="main">
            <!-- <img id="brain"  src="/images/brain.png" ngMouseover="ngShow('brain')">
            <img id="heart" src="/images/heart.png" ngMouseover="ngShow('heart')">
            <img class="wrapper" id="undies" src="/images/underwear.png" ngMouseover="ngShow('undies')"> -->
        </div>
        <p>Source: <a href="http://itspronouncedmetrosexual.com/2015/03/the-genderbread-person-v3/">it's pronounced METROsexual</a></p>

        <p ng-show="identity" class="ng-hide">Identity</p>
        <p ng-show="attraction"class="ng-hide">Attraction</p>
        <p ng-show="assigned_sex"class="ng-hide">Assigned Sex</p>
      </div>  

    </div>

</div>
